[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = This is my first repository
[access "refs/*"]
	owner = group user/La Neigh Benson (laneigh1)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/La Neigh Benson (laneigh1)
	label-Verified = -1..+1 group user/La Neigh Benson (laneigh1)
	push = group user/La Neigh Benson (laneigh1)
	read = group user/La Neigh Benson (laneigh1)
	rebase = group user/La Neigh Benson (laneigh1)
	removeReviewer = group user/La Neigh Benson (laneigh1)
	submit = group user/La Neigh Benson (laneigh1)
[access "refs/heads/*"]
	create = group user/La Neigh Benson (laneigh1)
	push = +force group user/La Neigh Benson (laneigh1)
	pushMerge = group user/La Neigh Benson (laneigh1)
	read = group user/La Neigh Benson (laneigh1)
[access "refs/tags/*"]
	push = group user/La Neigh Benson (laneigh1)
	push = +force group user/La Neigh Benson (laneigh1)
